<!--<div class="container">-->
  <form class="form-signin">
    <h2 class="form-signin-heading">登录进入博客</h2>
    <label for="inputUserName" class="sr-only">用户名</label>
    <input type="text" id="inputUserName" class="form-control" placeholder="用户名" ng-model="loginModel.userName" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="loginModel.passWord" placeholder="密码" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="loginModel.login()">登录</button>
  </form>
<!--</div>-->
